@use "variables" as *;

.footer {
    padding: 30px;
    background-color: $infoText;
    text-align: center;

    &__links {
        display: flex;
        justify-content: center;
        align-items: center;

        &__item {
            font-size: 30px;
            margin: 12px;
            transition: all ease-in-out .3s;

            &:hover {
                transform: scale(1.1);
                transition: all ease-in-out .2s;
            }
        }
    }

    &__main-text {
        font-size: 18px;
        
        a { 
            text-decoration: none;
            color: #fff;

            strong {
                    transition: all ease-in-out .2s;

                    &:hover {
                    color: darkgrey !important;
                    transition: all ease-in-out .2s;
                }
            }
        }
    }
}