@use "hero";
@use "components/infos_bar";
@use "components/buttons";
@use "event";
@use "variables" as *;
@use "footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: $textColor;
    list-style: none;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (min-width: 641px) and (max-width: 1024px) {
        max-width: 90%;
    }
}